html, body, #root {
    height: 100%;
    margin: 0;
}

.page, .page * {
    box-sizing: border-box;
}

.page{
    --circle-col-width: 127px;
    --circle-col-gap: 50px;
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    transform-origin: top center;
}

@media (max-width: 768px) {
  .page{
    --circle-col-width: 60px;
    --circle-col-gap: 16px;
    padding: 0 16px 16px;
  }
}

@media (max-width: 1920px) {
  .page{
    transform: scale(calc(100vw / 1920));
  }
}

@media (max-height: 1080px) {
  .page{
    transform: scale(calc(100vh / 1080));
  }
}
