.plane {

    position: absolute;
  left: 50%;
  bottom: -120px;  
  width: 120px;
  color: white;
  animation: fly-up 6s linear infinite;
  pointer-events: auto;
  z-index: 5; /* above overlays */
  cursor: grab;
  touch-action: none; /* prevents browser gestures from stealing pointer events */
  user-select: none;
  transform: translateX(-50%);
}


.plane .stream{
  transform-box: fill-box;
  transform-origin: center bottom; /* or center bottom */
  animation: stream-pulse 1.2s ease-in-out infinite;
}

.plane.dragging{
  cursor: grabbing;
}


@keyframes stream-pulse {
  0%   { transform: scaleY(0.2); }
  50%  { transform: scaleY(1); }
  100% { transform: scaleY(0.2); }
}

@keyframes fly-up {
  from { transform: translateX(-50%) translateY(0); }
  to   { transform: translateX(-50%) translateY(-120vh); }
}


.plane .stream:nth-of-type(1){ animation-delay: 0s; }
.plane .stream:nth-of-type(2){ animation-delay: 0.15s; }
.plane .stream:nth-of-type(3){ animation-delay: 0.3s; }
